
<%- include('../partials/header') %>

    <!--####### MAIN + DIV RESEAUX  #######-->
    <main>

        <div class="div__main__intro">
            <h2 class="h2__div__main">Développeur web <br> <span class="span__main__div__h2">Orienté back-end</span> <span class="span__point__main__div__h2">. . .</span> </h2>
            
        </div>
  
        <div class="div__socialmedia">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>

<%- include('../partials/footer') %>