
<%- include('../partials/header') %>

    <!--####### MAIN + DIV RESEAUX  #######-->
    <div class="maindiv__mainpage">
        <div class="div__intro__main">
            <h2 class="h2__div__main">Développeur web
                <br>
                <span class="span__2__main__div__h2">Fullstack JS</span>
                <br>
                <span class="span__main__div__h2">Orienté back-end</span> <span class="span__point1__main">.</span><span class="span__point2__main">.</span><span class="span__point3__main">.</span>
            </h2>
        </div>

        <div class="div__skills__main">

        <h2 class="h2__skills__main">Voici quelques-uns de mes skills</h3>   

        <p class="p__mainpage">: langages de programmation :</p>

        <img class="img__skills" src="../images/imagesskills/html5.svg" alt="html logo">
        <img class="img__skills" src="../images/imagesskills/css.svg" alt="css logo">
        <img class="img__skills" src="../images/imagesskills/javascript.svg" alt="js logo">
        <img class="img__skills" src="../images/imagesskills/sql.svg" alt="sql logo">
        </div>
    </div>

<%- include('../partials/footer') %>


<!-- 
SI vous avez eu la gentilesse d'aller jusque dans l'inspecteur du site, MERCI!
Je suis à la recherche d'une entreprise pour effectuer une alternance sur 12 ou 16 mois (en fonction de l'école choisie)
Sur Marseille/Aubagne/La ciotat/ Aix si télétravail envisagable aprés etre bien formé et autonomeetc.
Mon linkedin : https://www.linkedin.com/in/fred-meziere/ 

Bonne journée !
-->
