<head>
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="./css/404.css">
</head>

<div class="main__div__404">

<p class="p__404">Oups il semblerait que quelque chose n'ai pas fonctionné !</p>

<p class="p__404">Malheuresement FRED n'est pas encore a 100% formé! Il est à la recherche d"une alternance.</p>

<p class="p__404">Une alternance entre 12 et 16 mois pour consolider ses acquis et obtenir de l'expérience professionnelle.</p>

<img src="../images/404.png" alt="404 error">

<p class="p__404__linkedin"><a class="link__linkedin__404" href="https://www.linkedin.com/in/fred-meziere/" target="_blank">LinkedIn </a></p>

<p class="p__404__main"><a class="link__main__404" href="/main" >Retour à l'accueil</a></p>

</div>

<%- include('../partials/footer') %>