.div__socialmedia {
    position: absolute;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    left: 15px;
    top: 250px;
    max-width: 100px;
    border-radius: 5px;
    align-items: center;
}

.a__div__social {
    display: flex;
}

.p__div__socialmedia {
    align-items: center;
    padding: 5px;
    margin: 0px;
    font-size: 12px;
}

.img__banner {
    margin: 10px;
}