.div__socialmedia {
    position: absolute;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    left: 15px;
    top: 250px;
    width: 80px;
    border-radius: 15px;
    align-items: center;
}

.a__div__social {
    align-items: center;
    display: block;
    margin-left: 1.5rem;
}

.p__div__socialmedia {
    align-items: center;
    padding: 5px;
    margin: 0px;
    font-size: 12px;
}

.img__banner {
    height: 50%;
    width: 50%;
    padding: 5px;
}