/* ######### PARTIE FOOTER ######### */

footer {
    background: linear-gradient(15deg, rgba(76,150,107,1) 0%, rgba(79,175,127,1) 100%);
    width: 100%;
    bottom: 0;
    text-align: center;
    color: rgb(30, 29, 49);
}

.p__footer {
    color: rgb(30, 29, 49);
    font-weight: 600;
}