/* ######### PARTIE MAIN ######### */

main {
    align-items: center;
    align-content: center;
}

.maindiv__mainpage {
    display: flex;
    flex-direction: column;
}

.p__mainpage {
    color: red;
 }
/* DIV INTO */

.div__main__intro {
    align-items: center;
}

.h2__div__main {
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 15px;
    padding-top: 190px;
    padding-bottom: 190px;
    font-size: 90px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.span__2__main__div__h2 {
    color: white;
    font-size: 72px;
}

.span__main__div__h2 {
    color: rgb(30, 29, 49);
    font-size: 32px;
    background-color: $primary-color;
    padding: 10px;
    border-radius: 5px;
}

.span__main__div__h2:hover  {
    background-color:rgb(30, 29, 49);
    color: $primary-color;
    transition-delay: 0.5ms;
    border-radius: 5px;
}

.span__point1__main {
    color: $primary-color;
    font-size: 64px;
    animation: blinker 3s linear infinite;
}

.span__point2__main {
    color: $primary-color;
    font-size: 64px;
    animation: blinker 3s linear infinite;
    animation-delay: 1s;
}

.span__point3__main {
    color: $primary-color;
    font-size: 64px;
    animation: blinker 3s linear infinite;
    animation-delay: 2s;
}

.span__2__main__div__h2 {
    animation: blinker 4s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }


  /* DIV SKILLS */

.div__skills__main {
    align-items: center;
    text-align: center;
    color: white;
 }

 .h2__skills__main {
    color: rgb(255, 255, 255);
    font-size: 46px;
 }

 .p__mainpage {
    color: rgb(255, 255, 255);
    font-size: 32px;
 }

 .img__skills {
    width: 10%;
 }