

/* ######### PARTIE MAIN ######### */

main {
    align-items: center;
    align-content: center;
}

.div__main__intro {
    align-items: center;
}

.h2__div__main {
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 15px;
    padding-top: 220px;
    padding-bottom: 250px;
    font-size: 90px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.span__main__div__h2 {
    color: rgb(30, 29, 49);
    font-size: 32px;
    background-color: $primary-color;
    padding: 10px;
    border-radius: 5px;
}

.span__main__div__h2:hover  {
    background-color:rgb(30, 29, 49);
    color: $primary-color;
    transition-delay: 0.5ms;
    border-radius: 5px;
}

.span__point__main__div__h2 {
    color: $primary-color;
    font-size: 32px;
}

