* {
    box-sizing: border-box;
}

body {
    background: rgb(30, 29, 49);
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    width: auto;
}

p {
    color: white;
}

.main__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div__cat__header {
    width: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    margin-left: 15px;
    color: white;
    font-weight: bolder;

}

.h1__f__strong {
    background-color: rgb(79, 175, 127);
    color: white;
    font-size: 48px;
    padding: 5px;
}

.h1__point__strong {
    color: rgb(79, 175, 127);
    font-size: 48px;
}

/* Décoration des 4 <a> de la nav +h1 */
.h1__color {
    text-decoration: none;
}

.white {
    color: white;
    text-decoration: none;
}

.blue {
    color: rgb(79, 175, 127);
    text-decoration: none;
}

/*Acceuil */

.p__nav__header__1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
}

.p__nav__header__1:hover{
    background-color: rgb(79, 175, 127);
    border-radius: 5px;
}

/* A Propos */

.p__nav__header__2 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
}
.p__nav__header__2:hover{
    background-color: rgb(79, 175, 127);
    border-radius: 5px;
}
/* Mes réalisations */

.p__nav__header__3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
}
.p__nav__header__3:hover{
    background-color: rgb(79, 175, 127);
    border-radius: 5px;
}
/* Contact */

.p__nav__header__4 {
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
}
.p__nav__header__4:hover{
    background-color: rgb(79, 175, 127);
    border-radius: 5px;
}
.blue:hover{
    color: black;

}
/* ######### PARTIE MAIN ######### */

main {
    align-items: center;
    align-content: center;
}

.div__main__intro {
    align-items: center;
}

.h2__div__main {
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 15px;
    padding-top: 300px;
    padding-bottom: 300px;
    font-size: 48px;
    border-radius: 15px;
}

.span__main__div__h2 {
    color: rgb(30, 29, 49);
    font-size: 32px;
    background-color: rgb(79, 175, 127);
    padding: 5px;
}

.span__point__main__div__h2 {
    color: rgb(79, 175, 127);
    font-size: 32px;
}

/* ######### PARTIE FOOTER ######### */

footer {
    background-color: rgb(79, 175, 127);
    position: absolute;
    bottom: 0;
    width: 99.5%;
    text-align: center;
    color: rgb(30, 29, 49);
}

.p__footer {
    color: rgb(30, 29, 49);
    font-weight: 600;
}