<div class="div__socialmedia">
    <p class="p__div__socialmedia">Medias</p>
    <a class="a__div__social" href="https://www.linkedin.com/in/fred-meziere/" target="_blank"><img class="img__banner" src="../images/logo/linkedin.png"  alt="Logo linkedin"></a>
    <a class="a__div__social" href="https://github.com/FredMeziere" target="_blank"><img class="img__banner" src="../images/logo/github.png" alt="Logo github"></a>
    <a class="a__div__social" href="https://twitter.com/Fred_meziere" target="_blank"><img class="img__banner" src="../images/logo/twitter.png" alt="Logo twitter"></a>
    <a class="a__div__social" href="../images/cv/cv_fred_meziere.pdf" target="_blank"><img class="img__banner" src="../images/logo/cv.png" alt="Logo cv"></a>

</div>
