<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Fred Meziere</title>
</head>

<body>

    <!--####### PARTIE HEADER ET NAV  #######-->
    <header>
        <div class="main__div">
            <div>
                <a class="h1__color" href="/main">
                    <h1><span class="h1__f__strong">F</span>red<span class="h1__point__strong">.</span></h1>
                </a>
            </div>
            <div class="div__cat__header">
                <p class="p__nav__header__1"> <a class="nav__1" href="/main">Accueil</a></p>
                <p class="p__nav__header__2"> <a class="nav__2" href="/apropos">A propos</a></p>
                <p class="p__nav__header__3"> <a class="nav__3" href="/realisations">Mes réalisations</a></p>
                <p class="p__nav__header__4"> <a class="nav__4" href="/contact">Contactez-moi</a></p>
            </div>
        </div>
    </header>